[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib.git
[submodule "emscripten-webxr"]
	path = emscripten-webxr
	url = https://github.com/vhiterabbit/emscripten-webxr
